body,.btn,h5,h1,h2,h3,h4{
    font-family: 'Lato', sans-serif !important;
}
.jumbotron{
    background-color: transparent !important;
    border-color: #26a6fc;
    border-radius: 2px !important;
}
.jumbotron-fluid{
    padding-left: 100%;
    padding-right: 100%; 
    margin-top: 40px;
    margin-bottom: 40px;
}
.skillIcon{
    margin: 20px;
    display: inline-block;
    max-width: 60px;
    max-height: 60px;
}
.skillIcon img{
    width:50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
.btn-secondary{
    background-color: #26a6fc !important;
    border-color: #26a6fc !important;
    color: black !important;
}
img.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 250px;
    max-width:inherit;
}
button.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.resumeImage{
    margin-left: auto;
    margin-right: auto;
}
.bg-black{
    background-color: black;
    color: white;
} 
.bg-black a ion-icon{
    color: white;
    font-size: 50px !important;
}
.bg-black a:hover,.bg-black a ion-icon:hover{
    color:#26a6fc;
}
.bg-black a{
    color:white !important;
}
a:hover{
    text-decoration: none;
}
.inline,.link-inline{
    display: inline-block;
    margin: 3px;
}
.inline ion-icon{
    color: white !important;
    font-size: 15px !important;
}
div.displayed{
 width: 100%
}
.col-sm-3{
    text-align: center;
}
.containerText{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 950px;
    font-family: 'Lato', sans-serif;
}
.image-text {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
.image-content{
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}
.image-text h1{
    display: block;
    background-color: white;
    font: black;
    line-height: 3rem;
    letter-spacing: 0.8rem;
}
.image-text h3{
    display: block;
    background-color: white;
    font: black;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
}
.btn {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
  }
  .card{
    color: transparent;
    height: 180px;
    background-color: white;
    border: 3px solid #26a6fc !important;
    border-radius: 3px !important;
    margin:20px;
    transition: opacity .4s ease-in-out;
}
.imgHover img{
    height: 175px;
}
  .overlay{
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      width: 100%;
      background-color: rgb(16, 17, 17);
      color:white;
      opacity:0;
      transition: .75s ease;
  }
  .ctr{
      position: absolute;
      transform: translate(-50%,-50%);
      text-align: center;
      padding-top:2%;
  }
  .imgHover:hover .overlay{
    opacity:1;
  }
  .parallax { 
    /* The image used */
    background-image: url(./images/screencolors.jpg);
  
    /* Set a specific height */
    height: 950px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}