body{
    height: 100%
}
html{
    height: 100%
}
.jumbotron{
    background-color: white !important;
    border-color: #704698;
    border-radius: 2px !important;
}
.navbar-brand{
    font-size: 30px !important;
}
.navbar{
    background:#704698;
    color:black;
    font-size:22px !important;
}
a{
    color: black !important;
}
a.nav-link{
    padding-left: 5px;
}
a.nav-link:hover{
    color: white !important;
}
ion-icon {
    color: black;
    font-size: 45px;
}
ion-icon:hover {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
      color:black;
}
p{
    font-size:15px;
}
ul{
    list-style: none
}
li img{
    width:50px;
    height: 50px;
}
.btn-secondary{
    background-color: #704698 !important;
    border-color: #704698 !important;
    color: black !important;
}
.navbar-toggler-icon{
    background-color:#704698 !important;
}
img.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto 
}
button.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
li .nav-item {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.bg{ 
    /* The image used */
    background-image:url(./images/geomet.jpg);
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
