body{
    height: 100%
}
html{
    height: 100%
}
.jumbotron{
    background-color: transparent !important;
    border-color: #26a6fc;
    border-radius: 2px !important;
}
.jumbotron-fluid{
    padding-left: 100%;
    padding-right: 100%; 
}
ul{
    list-style: none
}
li img{
    width:50px;
    height: 50px;
}
.btn-secondary{
    background-color: #26a6fc !important;
    border-color: #26a6fc !important;
    color: black !important;
}
img.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 250px;
    max-width:inherit;
}
button.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fleximage {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 90%;
  }
div .card{
    margin:20px;
}
.bg-black{
    background-color: black;
    color: white;
} 
.card{
    color: black;
    background-color: white;
    border: 3px solid #26a6fc !important;
    border-radius: 3px !important;
}
.bg-black a ion-icon{
    color: white;
    font-size: 50px !important;
}
.bg-black a ion-icon:hover{
    color:#26a6fc;
}
.bg-black a{
    color:white !important;
}
.bg-black a:hover{
    color:#26a6fc !important;
}
a:hover{
    text-decoration: none;
}
.inline{
    display: inline-block;
    margin: 3px;
}
.link-inline{
    display: inline-block;
    margin: 3px;
}
.inline ion-icon{
    color: white !important;
    font-size: 15px !important;
}
div.displayed{
 width: 100%
}
.col-sm-3{
    text-align: center;
}