a:hover{
    text-decoration: none;
}
.inline{
    display: inline-block;
    margin: 3px;
}
.inline ion-icon{
    font-size: 15px !important;
}
div.displayed{
 width: 100%
}
.col-sm-4{
    text-align: center;
}